.App {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 400px;
    min-height:420px ;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
    background-color: antiquewhite;
}
.list{
  margin: 10px 0;
}
.input{
    margin: 10px 0;
    width: 300px;
}
.btn{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
}
.button{
  display: flex;
  justify-content: center;
}